In [1]:
#importing
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [2]:
data=pd.DataFrame(pd.read_csv("weatherHistory.csv"))
data

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [3]:
data=data.drop(['Formatted Date','Visibility (km)','Daily Summary','Loud Cover','Pressure (millibars)',
               'Apparent Temperature (C)','Wind Speed (km/h)', 'Wind Bearing (degrees)'],axis=1)
data.head()

         Summary Precip Type  Temperature (C)  Humidity
0  Partly Cloudy        rain         9.472222      0.89
1  Partly Cloudy        rain         9.355556      0.86
2  Mostly Cloudy        rain         9.377778      0.89
3  Partly Cloudy        rain         8.288889      0.83
4  Mostly Cloudy        rain         8.755556      0.83

In [5]:
l=LabelEncoder()
data['Summary']=l.fit_transform(data['Summary'])
data['Precip Type']=l.fit_transform(data['Precip Type'])
data.head()

   Summary  Precip Type  Temperature (C)  Humidity
0       19            0         9.472222      0.89
1       19            0         9.355556      0.86
2       17            0         9.377778      0.89
3       19            0         8.288889      0.83
4       17            0         8.755556      0.83

In [7]:
print("Missing values in data:\n",data.isnull().sum())

Missing values in data:
 Summary            0
Precip Type        0
Temperature (C)    0
Humidity           0
dtype: int64

In [8]:
data.columns

Index(['Summary', 'Precip Type', 'Temperature (C)', 'Humidity'], dtype='object')

In [9]:
x=data[['Precip Type', 'Temperature (C)','Humidity']]
y=data['Summary']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [11]:
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array([16.94968435, 15.92241261, 16.2843518 , ..., 16.52836713,
       15.89508552, 16.18121225])

In [12]:
mse=mean_squared_error(y_test,y_pred)
mae=mean_absolute_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print("mse=",mse)
print("mae=",mae)
print("r2=",r2)

mse= 18.541655487339735
mae= 3.1442005756547418
r2= 0.0248181883074563